[buildout]
parts = django 
develop = .

[django]
recipe = djangorecipe
version = 1.2.3
project = flashcard
projectegg = flashcard
settings = testsettings
test = flashcard

[python]
recipe = zc.recipe.egg
interpreter = python
