{% extends "base.html" %}

    {% block title %}
      Add a flashcard
    {% endblock %}

    {% block header %}
      <h1>Create a new flashcard</h1>
    {% endblock %}

    {% block content %}
      {{ formset.management_form }}
      <form method="post" action="">{% csrf_token %}
        <table>
          {% if error %}
            {{ error }}
          {% endif %}
          {{ formset }}

        </table>
      <input type="submit" name="Submit" value="Submit this form"> 
      </form>
    {% endblock %}
