{% extends "base.html" %}

    {% block title %}
      Flashcard list
    {% endblock %}

    {% block header %}
      <h1>Your flashcards:</h1>
    {% endblock %}

    {% block content %}
      {% if flashcard_list %}
        {% for flashcard in flashcard_list %}
        <div class="front_view grid_11">
          <h2>
            <a href="{{ flashcard.get_absolute_url }}">{{ flashcard.front }}</a>
          </h2>
          <br />
          {{ flashcard.back }}
        </div>

        <p> <a href="{{ flashcard.edit }}">Edit</a>
          <a href="{{ flashcard.delete }}">Delete</a>
        </p>

        <div class="clear"></div>
        {% endfor %}
      {% else %}
        <div class="grid_12">
            No flashcards! <a href="{% url dvoc.views.create_flashcard %}">Add some now!</a>
        </div>
      {% endif %}
    {% endblock %}
