{% extends "base.html" %}

    {% block header %}
      <h1>Flashcards:</h1>
    {% endblock %}

    {% block content %}
          {% for flashcard in flashcard_list %}
            <div class="front_view grid_7">
              <h2>
                <a href="{{ flashcard.get_absolute_url }}">{{ flashcard.front }}</a>
              </h2>
              <br />
              {{ flashcard.back }}
            </div>

            <!-- Somehow floating nowhere... Fix this. -->
            <a href="{{ flashcard.edit }}">Edit</a>
            <a href="{{ flashcard.delete }}">Delete</a>

            <div class="clear"></div>
          {% endfor %}
    {% endblock %}
