{% extends "base.html" %}

    {% block header %}
      <h1>Flashcards:</h1>
    {% endblock %}

    {% block content %}
          <ul>
          {% for flashcard in flashcard_list %}
              <li>
                <b>
                  <a href="{{ flashcard.get_absolute_url }}">{{ flashcard.front }}</a> - 
                  {{ flashcard.back }} - 
                </b>
                  <a href="{{ flashcard.edit }}">Edit</a> - 
                  <a href="{{ flashcard.delete }}">Delete</a>
              </li>
          {% endfor %}
          </ul>
    {% endblock %}
