{% extends "base.html" %}
	
	{% block title %}
        Practice flashcard #{{ flashcard.id }}
	{% endblock %}

	{% block extrajs %}
       <script type="text/javascript">
            $('.clickme').click(function() {
              //$('.back_hidden').toggle('slow', function() {
              $('.practice_back').replaceWith('{{ practice.back }}');
            });
        </script>
	{% endblock %}

	{% block header %}
		<h1>Practice flashcards </h1>
	{% endblock %}

	{% block content %}
		<div>
			<div class="front_view">{{ practice.front }}</div>
			<div class="clickme back_view">
                <div class="practice_back">
                    <b>Show the answer...</b>
                </div>
            </div>
            <div class="rating_box">
                <form method="post" action="{% url dj.dvoc.views.process_rating %}">{% csrf_token %}
                {{ form.as_p }}
                <p><input type="submit" name="Submit" /></p>
                </form>
            </div>
		</div>
	{% endblock %}
